.about-section{
    max-width: 100%;
    display: flex;
    height: 645px;
}
.about-text{
    display: flex;
    width: 486px;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}