.about-section{
    max-width: 100%;
    display: flex;
    height: 645px;
     margin: 100px 0  100px 0;
}
.about-text{
    display: flex;
    width: 486px;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}
h2{
color: var(--primary);
font-family: Urbanist;
font-size: 63px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 75.6px */
}