h1{
    color: var(--primary);
    text-align: center;
    width: 690px;
    /* H1 */
    font-family: Urbanist;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 82.5px */
}

p{
    color: var(--paragraph);
    text-align: center;
    width: 444px;
    /* paragraph-medium */
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 24.3px */
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin: 80px 0 80px 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.stars{
    display: flex;
    align-items: center;
    gap: 2px;
}
.logo-google{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.upper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
