
.img-text{
    max-width: 100%;
    height: auto;
    align-items: bottom ;
    position: relative;
    top : 25%;
    z-index: 1;

}


.img_mobile {
    width: 561px;
    height: 593px;
    object-fit: fit;
}

.car {
    height: 155px;
    align-self: stretch;
}
.kpi{
    color: var(--paragraph);
    text-align: center;
    width: 160px;
    /* KPI */
    font-family: Urbanist;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 13.5px */
}
section.mobile{
    max-width: 100%;
    height: 600px;
    position : relative;
    align-items: center;
    justify-content: center;
}
 .div-mob{
    height: 593px;
    width: 561px;
    align-items: center;
    justify-content: center;
    position :absolute;
    top: 0px;
    margin-left: 20%;
    
}
.text-mobile{
    display: flex;
    width: 258px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: -520px;
    margin-left : 280px;
  
}